*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

/*estilo encabezado*/
header{
	width: 100%;
	background-color: #0E8B6C;
	padding: 10px;
}

header ul{
	list-style: none;
	width: 100%;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

header ul li{
	font-family: sans-serif;
	color: white;
}
/*----------------------------*/

/*estilo selects*/
.selects{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;

	padding: 10px;
	width: 100%;
}

.selectGroup{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	
	padding: 10px;
	border: 1px solid #0E8B6C;
	border-radius: 5px;
}


/*----------------------------*/

